<h2>Add Album</h2>
<p>Artist</p>
<input type="text" name="" id="" />
<br />
<p>Album</p>
<input type="text" name="" id="" />

<br />
<p>Duration</p>
<input type="text" name="" id="" />

<br />
<p>Genre</p>
<input type="text" name="" id="" />

<br />
<p>Record company</p>
<input type="text" name="" id="" />

<br />
<p>Producer/s</p>
<input type="text" name="" id="" />

<br />
<p>More info</p>
<input type="text" name="" id="" />

<br />
<p>Cover Album</p>
<input type="text" name="" id="" />

<br />
<p>Stock</p>
<input type="text" name="" id="" />

<br />
<button>Edit</button>
