<h2>Add a new album</h2>
<form action="#" method="POST">
  <div>
    <label for="artist">Artist:</label><br />
    <input type="text" id="artist" name="artist" /><br />
  </div>
  <div>
    <label for="album">Album:</label><br />
    <input type="text" id="album" name="album" /><br />
  </div>
  <div>
    <label for="stock">Stock:</label><br />
    <input type="number" id="stock" name="stock" /><br />
  </div>
  <div>
    <label for="duration">Duration:</label><br />
    <input type="text" id="duration" name="duration" /><br />
  </div>
  <div>
    <label for="price">Price:</label><br />
    <input type="text" id="price" name="price" /><br />
  </div>
  <div>
    <label for="genre">Genre:</label><br />
    <input type="text" id="genre" name="genre" /><br />
  </div>
  <div>
    <label for="record_company">Record Company:</label><br />
    <input type="text" id="record_company" name="record_company" /><br />
  </div>
  <div>
    <label for="producer">Producer:</label><br />
    <input type="text" id="producer" name="producer" /><br />
  </div>
  <div class="moreinfo">
    <label for="more_info">More Information:</label><br />
    <textarea id="more_info" name="more_info"></textarea><br />
  </div>
  <div class="uploadimage">
    <label for="image">Upload Image:</label>
    <input type="file" id="image" name="image" /><br />
  </div>
  <div>
    <button type="submit">Add</button>
  </div>
</form>
