h2 {
  font-weight: bold;
  margin-left: 0.5rem;
  margin-top: 2rem;
  text-align: left;
}

:host {
  width: 100%;
  padding-block-end: 4rem;
}

* {
  box-sizing: border-box;
}

.columna {
  float: left;
  width: 50%;
  padding-right: 5px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

img {
  margin-left: 0.5rem;
  margin-top: 2rem;
  border-radius: 20px;
}

p {
  margin-left: 0.7rem;
}
