<h2>Lists</h2>
<div class="fila">
  <div class="columna">
    <a
      href="https://open.spotify.com/playlist/37i9dQZF1DWVRSukIED0e9?si=f0f9b34447f04586"
      ><img
        src="../../../assets/images/music2019.jpg"
        alt="music2023"
        width="170px"
        height="250px"
    /></a>
    <p>Best music 2019</p>
  </div>
  <div class="columna">
    <a
      href="https://open.spotify.com/playlist/2fmTTbBkXi8pewbUvG3CeZ?si=f0d4393c8f1f45f9"
      ><img
        src="../../../assets/images/music2020.png"
        alt="festivalsongs"
        width="170px"
        height="250px"
    /></a>
    <p>Best music 2020</p>
  </div>
</div>
<div class="fila">
  <div class="columna">
    <a
      href="https://open.spotify.com/playlist/5GhQiRkGuqzpWZSE7OU4Se?si=6d833701973f41c6"
      ><img
        src="../../../assets/images/music2021.jpg"
        alt="music2022"
        width="170px"
        height="250px"
    /></a>
    <p>Best music 2021</p>
  </div>
  <div class="columna">
    <a
      href="https://open.spotify.com/playlist/37i9dQZF1DXdNKMZOYcehZ?si=a315d227aa7742fd"
      ><img
        src="../../../assets/images/music2022.png"
        alt="music2024"
        width="170px"
        height="250px"
    /></a>
    <p>Best music 2022</p>
  </div>
  <div class="fila">
    <div class="columna">
      <a
        href="https://open.spotify.com/intl-es/album/5j0o3XQ1YciVzm7MtcFmfG?si=T2v7wFxCT_KD6l4OtLdoyA"
        ><img
          src="../../../assets/images/music2023.png"
          alt="music2022"
          width="170px"
          height="250px"
      /></a>
      <p>Best music 2023</p>
    </div>
    <div class="columna">
      <a
        href="https://open.spotify.com/playlist/2dHYu32am1pzWWBTVmw8ta?si=73d27fb6082d44f3"
        ><img
          src="../../../assets/images/music2024.png"
          alt="music2024"
          width="170px"
          height="250px"
      /></a>
      <p>Best music 2024</p>
    </div>
  </div>
  <div class="fila">
    <div class="columna">
      <a
        href="https://open.spotify.com/intl-es/album/1Cuu5JU4NyGzNzw3whVhKf?si=ce1bFKsmQK-X4HD6l9TIkw"
        ><img
          src="../../../assets/images/running.png"
          alt="music2022"
          width="170px"
          height="250px"
      /></a>
      <p>Running</p>
    </div>
    <div class="columna">
      <a
        href="https://open.spotify.com/playlist/0iWoT1PZPEDmZ45bk8X6GU?si=3b825151846447a4"
        ><img
          src="../../../assets/images/festivalsongs.png"
          alt="music2024"
          width="170px"
          height="250px"
      /></a>
      <p>Festival songs</p>
    </div>
  </div>
</div>
