<main>
  <h2>Lists</h2>
  <div class="main-container">
    <div class="fila">
      <div class="columna">
        <a
          href="https://open.spotify.com/playlist/37i9dQZF1DWSrdTgewhgZq?si=107909ce860b404b"
          ><img
            src="../../../assets/images/music2019.jpg"
            alt="music2023"
            width="160px"
            height="240px"
        /></a>
        <p>Dope</p>
      </div>
      <div class="columna">
        <a
          href="https://open.spotify.com/playlist/37i9dQZF1DX8AliSIsGeKd?si=3c3712f43ae64183"
          ><img
            src="../../../assets/images/music2020.png"
            alt="festivalsongs"
            width="160px"
            height="240px"
        /></a>
        <p>Electronic Rising</p>
      </div>
    </div>
    <div class="fila bottom">
      <div class="columna">
        <a
          href="https://open.spotify.com/playlist/37i9dQZF1DXb3ZjVksUlfu?si=7fb8aed1a9264a64"
          ><img
            src="../../../assets/images/music2021.jpg"
            alt="music2022"
            width="160px"
            height="240px"
        /></a>
        <p>Alternative 70s</p>
      </div>
      <div class="columna">
        <a
          href="https://open.spotify.com/playlist/37i9dQZF1DX9E1mLvTvD1f?si=1e21b8d88f454583"
          ><img
            src="../../../assets/images/music2022.png"
            alt="music2024"
            width="160px"
            height="240px"
        /></a>
        <p>90s Rock Drive</p>
      </div>
      <div class="fila">
        <div class="columna">
          <a
            href="https://open.spotify.com/playlist/37i9dQZF1DXdLK5wjKyhVm?si=a43fc28e37754b0a"
            ><img
              src="../../../assets/images/music2023.png"
              alt="music2022"
              width="160px"
              height="240px"
          /></a>
          <p>Chillhop</p>
        </div>
        <div class="columna">
          <a
            href="https://open.spotify.com/playlist/37i9dQZF1DWWmsWPbM2pKT?si=06a9eafa918a46bf"
            ><img
              src="../../../assets/images/music2024.png"
              alt="music2024"
              width="160px"
              height="240px"
          /></a>
          <p>Darkwave</p>
        </div>
      </div>
      <div class="fila">
        <div class="columna">
          <a
            href="https://open.spotify.com/playlist/37i9dQZF1DX1ACGg8vzTNZ?si=d4f44bebb9b54c23"
            ><img
              src="../../../assets/images/running.png"
              alt="music2022"
              width="160px"
              height="240px"
          /></a>
          <p>Morning Study</p>
        </div>
        <div class="columna">
          <a
            href="https://open.spotify.com/playlist/37i9dQZF1DXcA6dRp8rwj6?si=83e77ac867194c3a"
            ><img
              src="../../../assets/images/festivalsongs.png"
              alt="music2024"
              width="160px"
              height="240px"
          /></a>
          <p>Beats & Rhymes</p>
        </div>
      </div>
    </div>
  </div>
  <app-menunav></app-menunav>
</main>
